%h1 Twoje ładniusie notki:
- @notes.each do |note|
  %div{:id => "note_#{note.id}"}
    %h2=note.title
    %p= note.content
    %signature= note.author
    %p= link_to "Usuń Notke", note_path(note), :method => :delete, :confirm => "Czy aby na pewno?"
    %p= "Komentarze:"
    - note.comments.each do |comment|
      %p= "#{comment.author}"
      %p= "#{comment.content}"
    %p= link_to "Dodaj komentarz", new_note_comment_path(note), :remote => true
    .new_comment
      = form_for [note, note.comments.build] do |f|
        %p= f.label :content, "Komentarz"
        %p= f.text_area :content
        %p= f.label :author, "Autor"
        %p= f.text_field :author
        %p= f.submit "dodaj komentarz"
        %p= link_to "powrot",notes_path  
%p= link_to "Nowa notka", new_note_path
%p= will_paginate @notes